/* --------- NAVBAR --------- */

.Navbar{
    display: flex;
    justify-content: space-evenly;

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3b1d50;
}
.NavbarButton{
    font-size: 20px;
    text-decoration: none;

    color: aliceblue;
    background-color: #001057;

    padding: 10px;
    outline-style: solid;
    outline-color: cyan;
    border-radius: 15px;
}
.LogoutButton{
    font-size: 20px;
    text-decoration: none;

    color: aliceblue;
    background-color: #b96395;

    padding: 10px;
    outline-style: solid;
    outline-color: orange;
    border-radius: 15px;
}
.NavbarSeparator{
    margin: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #91abff;
}

/* --------- Conteneurs --------- */

.BoxSimple{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    padding-top: 10px;

    outline-color: black;
    outline-width: 2px;
    outline-style: dotted;

}
.MenuButtonsBox{
    width: fit-content;
    padding: 2%;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding-bottom: 50px;
    margin: 20px;
}
.FormulaireSimple{
    font-size: 25px;
    width: min-content;

    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #f7e9ff;    
    border-radius: 25px;
    outline-color: rgb(183, 157, 255);
    outline-width: 2px;
    outline-style: solid;
}
.ButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 10px;
}
.UserCard{
    font-size: 25px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #f7e9ff;    
    border-radius: 25px;
    outline-color: rgb(183, 157, 255);
    outline-width: 2px;
    outline-style: solid;  
}

/* --------- Boutons et inputs --------- */

.VerticalLabel{
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.LargeInput{
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    font-size: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #ffffff;
    
}
.MainButton {
    font-size: 22px;

    border-radius: 35px;
    padding: 15px;
    margin-top:30px ;

    background-color:#eff9e1 ;
    border-color: teal;
    border-width: 4px;
    border-style: solid;
}
.SubButton {
    font-size: 18px;

    margin: 15px;
    padding: 10px;

    border-radius: 20px;

    background-color:#e7f9e1 ;
    border-color: rgb(157, 196, 169);
    border-width: 3px;
    border-style: solid;
}
.ConfirmButton{
    font-size: 18px;

    margin: 15px;
    padding: 10px;

    border-radius: 20px;

    background-color:#d4fcf8 ;
    border-color: rgb(139, 224, 213);
    border-width: 3px;
    border-style: solid;
}
.CancelButton{
    font-size: 18px;

    margin: 15px;
    padding: 10px;

    border-radius: 20px;

    background-color:#f9e1e1 ;
    border-color: rgb(199, 145, 145);
    border-width: 3px;
    border-style: solid;
}
.RedButton{
    font-size: 18px;

    margin: 15px;
    padding: 10px;

    border-radius: 20px;

    background-color:#ffc4c4 ;
    border-color: rgb(228, 109, 109);
    border-width: 3px;
    border-style: solid;
}
.OptionSelector{
    background-color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    margin-bottom: 20px;
}

/* --------- Texte --------- */

.PageName{
    margin-bottom: 75px;
    font-size: 40px;
}
.APIResponse{
    margin:15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: orangered;
    background-color:#fcfe9f;
    border-radius: 20px;
}
.Avertissement{
    margin-bottom: 10px;
    color: #440606;
    margin-left: 5px;
    margin-right: 5px;
}

/* --------- Autres --------- */

.FancyBr{
    margin-top: 50px;
}