/* --------- NAVBAR --------- */

.Navbar{
    display: flex;
    justify-content: space-evenly;

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3b1d50;
}
.NavbarButton{
    font-size: 20px;
    text-decoration: none;

    color: aliceblue;
    background-color: #001057;

    padding: 10px;
    outline-style: solid;
    outline-color: cyan;
    border-radius: 15px;
}
.LogoutButton{
    font-size: 20px;
    text-decoration: none;

    color: aliceblue;
    background-color: #b96395;

    padding: 10px;
    outline-style: solid;
    outline-color: orange;
    border-radius: 15px;
}
.NavbarSeparator{
    margin: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #91abff;
}

/* --------- Conteneurs --------- */

.BoxSimple{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    padding-top: 10px;
    margin-top: 15px;

    outline-color: black;
    outline-width: 2px;
    outline-style: dotted;

}
.MenuButtonsBox{
    width: fit-content;
    padding: 2%;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding-bottom: 50px;
    margin: 20px;
}
.FormulaireSimple{
    font-size: 25px;
    width: min-content;

    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #f7e9ff;    
    border-radius: 25px;
    outline-color: rgb(183, 157, 255);
    outline-width: 2px;
    outline-style: solid;
}
.UserCard{
    font-size: 25px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #f7e9ff;    
    border-radius: 25px;
    outline-color: rgb(183, 157, 255);
    outline-width: 2px;
    outline-style: solid;  

    margin-bottom: 5px;
}
.MiniUserCard{
    font-size: 13px;

    width: 250px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #f7e9ff;    
    border-radius: 20px;
    outline-color: rgb(183, 157, 255);
    outline-width: 2px;
    outline-style: solid;  
    
    margin-bottom: 15px;
    padding: 3px;
}
.ArticleCard{
    font-size: 25px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    
    width: 500px;
    /*width: 60rem;*/

    background-color: #fff2db;    
    border-radius: 25px;
    outline-color: rgb(255, 226, 146);
    outline-width: 2px;
    outline-style: solid;  

    margin-bottom: 5px;
}
.ArticleCardUnavailable{
    font-size: 25px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    width: 500px;
    /*width: 60rem;*/

    background-color: #b4b4b4;    
    border-radius: 25px;
    outline-color: rgb(145, 130, 91);
    outline-width: 2px;
    outline-style: solid;  

    margin-bottom: 5px;
}
.ArticleCardContent{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.ArticleText{
    width: min-content;
    font-size: 25px;
    text-align: left;
    align-self: flex-start;
    margin: 10px;
    overflow-wrap: break-word;
    width: fit-content;
}
.MiniArticleCardUnavailable{
    font-size: 13px;

    width: 420px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #b4b4b4;    
    border-radius: 20px;
    outline-color: rgb(145, 130, 91);
    outline-width: 2px;
    outline-style: solid;  
    
    margin-bottom: 15px;
    padding: 3px;
}
.MiniArticleCard{
    font-size: 13px;

    width: 420px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #fff2db;    
    border-radius: 20px;
    outline-color: rgb(255, 226, 146);
    outline-width: 2px;
    outline-style: solid;  
    
    margin-bottom: 15px;
    padding: 3px;
}
.MiniCardContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.MiniCardInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-wrap: break-word;
    margin-left: 10px;
}
.CardPhoto{
    height: 180px;
    margin: 20px;
    outline-width: 8px;
    outline-color: black;
    outline-style: solid;
    border-radius: 15px;

}
.MiniCardPhoto{
    max-block-size: 125px;
    margin: 10px;
    outline-width: 5px;
    outline-color: black;
    outline-style: solid;
    border-radius: 15px;

}
.ButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 10px;
    margin-bottom: 10px;
}
.MiniCardButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 75%;

    margin-top: 5px;
}
/* --------- Boutons et inputs --------- */

.VerticalLabel{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.LargeInput{
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    font-size: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #ffffff;
    
}
.MainButton {
    font-size: 22px;

    border-radius: 35px;
    padding: 15px;
    margin-top:30px ;

    background-color:#eff9e1 ;
    border-color: teal;
    border-width: 4px;
    border-style: solid;
}
.ActionButton {
    font-size: 30px;

    border-radius: 20px;
    padding: 15px;
    margin-bottom: 30px;


    background-color:#d4fcf8 ;
    border-color: rgb(106, 221, 206);
    border-width: 3px;
    border-style: solid;
}
.SubButton {
    font-size: 18px;

    margin: 15px;
    padding: 10px;

    border-radius: 20px;

    background-color:#e7f9e1 ;
    border-color: rgb(157, 196, 169);
    border-width: 3px;
    border-style: solid;
}
.MiniCardSubButton {
    font-size: 12px;

    margin: 5px;
    padding: 7px;

    border-radius: 13px;

    background-color:#e7f9e1 ;
    border-color: rgb(157, 196, 169);
    border-width: 2px;
    border-style: solid;
}
.ConfirmButton{
    font-size: 18px;

    margin: 15px;
    padding: 10px;

    border-radius: 20px;

    background-color:#d4fcf8 ;
    border-color: rgb(139, 224, 213);
    border-width: 3px;
    border-style: solid;
}
.MiniCardConfirmButton{
    font-size: 12px;

    margin: 5px;
    padding: 7px;

    border-radius: 13px;

    background-color:#d4fcf8 ;
    border-color: rgb(139, 224, 213);
    border-width: 2px;
    border-style: solid;
}
.CancelButton{
    font-size: 18px;

    margin: 15px;
    padding: 10px;

    border-radius: 20px;

    background-color:#f9e1e1 ;
    border-color: rgb(199, 145, 145);
    border-width: 3px;
    border-style: solid;
}
.MiniCardCancelButton{
    font-size: 12px;

    margin: 5px;
    padding: 7px;

    border-radius: 13px;

    background-color:#f9e1e1 ;
    border-color: rgb(199, 145, 145);
    border-width: 2px;
    border-style: solid;
}
.RedButton{
    font-size: 18px;

    margin: 15px;
    padding: 10px;

    border-radius: 20px;

    background-color:#ffc4c4 ;
    border-color: rgb(228, 109, 109);
    border-width: 3px;
    border-style: solid;
}
.MiniCardRedButton {
    font-size: 12px;

    margin: 5px;
    padding: 7px;

    border-radius: 13px;

    background-color:#ffc4c4 ;
    border-color: rgb(228, 109, 109);
    border-width: 2px;
    border-style: solid;
}
.OptionSelector{
    background-color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    margin-bottom: 20px;
}

/* --------- Texte --------- */

.PageName{
    margin-bottom: 50px;
    font-size: 40px;
}
.APIResponse{
    margin:15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: orangered;
    background-color:#fcfe9f;
    border-radius: 20px;
}
.Avertissement{
    margin-bottom: 10px;
    margin-top: 5px;
    color: #440606;
    margin-left: 5px;
    margin-right: 5px;
}
.ArticleName{
    font-size: 35px;
    font-weight: bold;

    margin-bottom: 20px;
    
    width: 100%;
    height: 100%;
}
.ArticlePrix{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}
.ArticleDescription{
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24;
    width: 100%
}
.MiniCardDescription{
    margin-top: 10px;
    font-size: 20;
    font-weight: bold;
}
/* --------- Autres --------- */

.FancyBr{
    margin-top: 35px;
}
.FancyHr{
    border-width: 2px;
    border-style: solid;
    border-color: #b96395;
}